@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-50 text-neutral-900 dark:bg-neutral-950 dark:text-neutral-100 transition-colors duration-200;
  }

  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
